.container {
  height: 100px;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: rgb(159, 210, 254);
}
