<p>retrieve works!</p>
<div>
    <h2>Product List api.2.0</h2>
    <table border="2">
        <thead>
            <th>Product_ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th colspan="2">Operation</th>
        </thead>
        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.qty}}</td>
            <td><button>Update</button></td>
            <td><button onclick="">Delete</button></td>
        </tr>
    </table>
</div>
<hr>